<div class="text-layout">
    <h3>Pipes No Comunes</h3>
    <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</div>
<div class="grid">
    <div class="col-6 md:col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            Saludos {{nombre}}, es un placer
            {{genero | i18nSelect:invitacionMap}}
            a nuestro evento
            <div class="col m-2">
                <button pButton ripple type="button" label="Cambiar nombre" class="p-button-help"
                    (click)="cambiarCliente()">
                </button>
            </div>

        </p-fieldset>

    </div>
    <div class="col-6 md:col-6">
        <p-fieldset legend="i18nPlural Pipe Pipe" [toggleable]="true">
            Actualmente {{ clientes.length | i18nPlural: clientesMapping }} esperando
            <div class="col m-2">
                <button pButton ripple type="button" label="Eliminar cliente" class="p-button-danger"
                    (click)="borrarCliente()">
                </button>
            </div>
        </p-fieldset>
    </div>
    <hr>
    <div class="col-6 md:col-6">

        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <p>Original</p>
            <pre> {{clientes}} </pre>

            <p>slice:0:2</p>
            <pre>{{ clientes | slice:0:2 }}</pre>

            <p>slice:1:2</p>
            <pre>{{ clientes | slice:1:2 }}</pre>

        </p-fieldset>
    </div>

    <div class="col-6 md:col-6">
        <p-fieldset legend="KeyValuePipe" [toggleable]="true">
           
            <ul>
                <li *ngFor="let item of persona | keyvalue"> 
                    <b> {{ item.key | titlecase }}: </b> {{ item.value }} 
                </li>
            </ul>
            
        </p-fieldset>
    </div>

    <div class="col-6 md:col-6">
        <p-fieldset legend="JSON Pipe" [toggleable]="true">
           
            <pre> {{ heroe | json }} </pre>
            
        </p-fieldset>
    </div>

    <div class="col-6 md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
           
            <!-- <pre> {{ miObservable | async }} </pre> -->
            <p *ngIf="!(miPromesa | async)">Cargando resultado...</p>
            <pre> {{ miPromesa | async }} </pre>
            
        </p-fieldset>
    </div>
</div>